body {
    background-color: rgb(219, 209, 219);
    font-family: Arial, Helvetica, sans-serif;
}

/* Selector/combinator style */
body > * {
    margin: auto;
    width: 600px;
}

p {
    width: 500px;
    margin: auto;
    text-align: justify;
    text-align:
}